body {
  font-family: Georgia, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents any overflow causing a scrollbar */

  transition: background-color 1.2s;
}

#setup {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 220px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

input,
button {
  border-radius: 5px;
  border-width: 1px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#currentPlayer {
  font-size: 9em;
  user-select: none;
  position: relative;
  cursor: pointer;
}

#gamePlayerList {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  user-select: none;
}

#gamePlayerList li {
  padding: 13px 20px;
  margin: 0 2px 5px;
  border-radius: 60px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#gamePlayerList li.current {
  font-weight: bold;
  padding: 13px 16px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

#about {
  margin-top: 80px;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #currentPlayer {
    position: relative;
    top: -150px;
  }
}
